extends layout 
block content 
    h1= title 
    if (toShow == null)
        h2 No instance to view update 
    else 
        - let honeyid = toShow._id 
        - let name = toShow.name 
        - let description = toShow.description 
        - let price = toShow.price
   
        div.row(class='mb-2') 
            div.mr-1 ID is 
            div #{honeyid} 
        - let actionid = "/resource/honey/" + honehyid 
        form(id='honeyForm', action= actionid, method="PUT") 
            div.form-group 
                label.honeyAttr(for='name') name 
                input#name(type='text', name='name', value= name ) 
            div.form-group 
                label.honeyAttr(for='description') description 
                input#description(type='text', name='description', value= description ) 
            div.form-group 
                label.honeyAttr(for='price') price 
                input#price(type='number', name='price', value= price ) 
            input(type="submit") 
        script. 
            document.forms['honeyForm'].addEventListener('submit', (event) => { 
            event.preventDefault(); 
                // TODO do something here to show user that form is being submitted 
                fetch(event.target.action, { 
                method: 'PUT', 
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
                }).then((resp) => { 
                return resp.text(); // or resp.text() or whatever the server sends 
                }).then((body) => { 
                alert("Update succeded") 
                // TODO handle body 
                }).catch((error) => { 
                // TODO handle error 
                alert("Update failed " + error ) 
                }); 
                }); 
 